
@{
    ViewBag.Title = "signin";
    Layout = "~/Views/Shared/GenericLayout2.cshtml";
    String err = ViewBag.err;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/MySource/srclogin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/MySource/srclogin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/MySource/srclogin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/MySource/srclogin/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Đang tải...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        @{
                            if (err != null && err.Equals("1"))
                            {
                                <div style="text-align:center" class="alert alert-danger" role="alert">
                                    Tài khoản hoặc mật khẩu sai
                                </div>
                            }
                        }
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <h3>Đăng nhập</h3>
                        </div>
                        <form action="~/Login/signin" method="post">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="EMAIL" id="username" placeholder="Tài khoản Email">
                                <label for="username">Email</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" name="MATKHAU" id="password" placeholder="Mật khẩu">
                                <label for="password">Mật khẩu</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input custom-checkbox" id="exampleCheck1">
                                    <label class="form-check-label custom-green-label" for="exampleCheck1">Nhớ mật khẩu</label>
                                </div>


                                <style>
                                    .custom-green-link {
                                        color: #003366;
                                        text-decoration: none;
                                    }
                                </style>

                                <a href="" class="custom-green-link">Quên mật khẩu</a>

                            </div>
                            <style>
                                .custom-green-button {
                                    background-color: #003366;
                                    color: #ffffff;
                                    padding: 15px;
                                    border: none;
                                    border-radius: 5px;
                                    width: 100%;
                                    margin-bottom: 20px;
                                }
                            </style>
                            <input type="submit" class="custom-green-button" value="Đăng nhập" />
                            <style>
                                .custom-green-link {
                                    color: #003366;
                                    text-decoration: none;
                                }
                            </style>

                            <p class="text-center mb-0">Bạn chưa có tài khoản? <a href="~/Login/signup" class="custom-green-link">Đăng ký</a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/MySource/srclogin/lib/chart/chart.min.js"></script>
    <script src="~/MySource/srclogin/lib/easing/easing.min.js"></script>
    <script src="~/MySource/srclogin/lib/waypoints/waypoints.min.js"></script>
    <script src="~/MySource/srclogin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/MySource/srclogin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/MySource/srclogin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/MySource/srclogin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/MySource/srclogin/js/main.js"></script>
</body>

</html>
